@font-face {
  font-family: "MADE TOMMY Outline Bold";
  font-style: normal;
  font-weight: normal;
  src: local("MADE TOMMY Outline Bold"),
    url("MADE TOMMY Bold Outline_PERSONAL USE.woff") format("woff");
}
@font-face {
  font-family: "MADE TOMMY Bold";
  font-style: normal;
  font-weight: normal;
  src: local("MADE TOMMY Bold"),
    url("MADE TOMMY Bold_PERSONAL USE.woff") format("woff");
}
@font-face {
  font-family: "MADE TOMMY Medium";
  font-style: normal;
  font-weight: normal;
  src: local("MADE TOMMY Medium"),
    url("MADE TOMMY Medium_PERSONAL USE.woff") format("woff");
}
@font-face {
  font-family: "MADE TOMMY Outline Medium";
  font-style: normal;
  font-weight: normal;
  src: local("MADE TOMMY Outline Medium"),
    url("MADE TOMMY Medium Outline_PERSONAL USE.woff") format("woff");
}
@font-face {
  font-family: "MADE TOMMY Regular";
  font-style: normal;
  font-weight: normal;
  src: local("MADE TOMMY Regular"),
    url("MADE TOMMY Regular_PERSONAL USE.woff") format("woff");
}
@font-face {
  font-family: "MADE TOMMY Outline Regular";
  font-style: normal;
  font-weight: normal;
  src: local("MADE TOMMY Outline Regular"),
    url("MADE TOMMY Regular Outline_PERSONAL USE.woff") format("woff");
}
