.aboutme__container {
  margin-top: 5em;
  height: 100%;
  width: 100vw;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 7em;
}
.about {
  width: 90%;
}

.about__profile {
  display: grid;
  place-items: center;
}
.about__social {
  margin-top: 3em;
  margin-bottom: 0em;
}
.btn__resume {
  margin-top: 2em;
  font-weight: bold;
  padding: 0.5em 1em;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 0.3em;
}
.about__title {
  border-bottom: 1px solid white;
  padding-bottom: 0.2em;
}
.profile__text {
  width: 100%;
  max-width: 34.25em;
  p {
    margin-top: 1em;
    white-space: normal;
  }
}
.about__aboutme {
  margin-top: 0.5em;
}
.level__guide {
  margin-top: 0.5em;
  width: 100%;
  text-align: right;
  span {
    font-family: "MADE TOMMY Regular";
    font-size: 0.8em;
    &:not(:first-child) {
      margin-left: 10%;
    }
  }
}
.about__skills {
  display: grid;
  place-items: center;
  margin-top: 5em;
}
.about__experties {
  max-width: 34.25em;

  width: 100%;
}
.experties {
  display: flex;
  justify-content: space-between;
  &:not(:first-child) {
    margin-top: 0.5em;
  }
}
.level__bar {
  margin-top: 0.15em;
  display: block;
  width: 75%;
  height: 0.8em;
  background-color: rgb(70, 70, 70);
}
.level__inside {
  height: 100%;
  background-color: rgb(245, 245, 245);
}
.level-one {
  width: 75%;
}
.level-two {
  width: 65%;
}
.level-three {
  width: 40%;
}
.about__design {
  width: 100%;

  max-width: 34.25em;
  margin-top: 3em;

  p {
    &:not(:first-child) {
      margin-top: 0.5em;
    }
  }
}
.about__sftwr {
  width: 100%;

  max-width: 34.25em;
  margin-top: 3em;
  p {
    &:not(:first-child) {
      margin-top: 0.5em;
    }
  }
}
@media only screen and (min-width: 60em) {
  .aboutme__container {
    margin-top: 0;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }
  .about {
    display: flex;
    height: fit-content;

    width: 80%;
  }
  .about__profile {
    margin: 3em;
    img {
      margin-bottom: 2em;
    }
  }
  .about__aboutme {
    width: 50%;
  }
  .about__skills {
    width: 50%;
    margin-top: 0;
    min-width: 30em;
  }
}
