.homepage__container {
  min-height: 100vh;
  width: 100vw;
  color: white;
}
.home__header {
  width: 100%;
  display: flex;
  justify-content: center;
}
.logo__wrap {
  width: 90%;
  margin-top: 1em;
  display: flex;
  justify-content: left;
}
.logo {
  font-family: "MADE TOMMY Regular";
  font-weight: bolder;
  // letter-spacing: 0.2em;
}
.des__text {
  font-family: "MADE TOMMY Regular";
  letter-spacing: 0.03em;
  font-weight: lighter;
}
.bigtext {
  font-family: "MADE TOMMY Outline Medium";
  display: block;
  font-size: 15vmin;
}
.main__content {
  width: 100%;
  height: 35em;
  align-items: center;
  margin-top: 3em;
  display: flex;
  justify-content: center;
}
.main__wrap {
  width: 90%;
}
.discription {
  margin-top: 5em;
  margin-bottom: 1em;
}
// .bigtext__wrap {
// }
.hc_nav {
  margin-top: 5em;
  max-width: 26em;
}
.double__arrow {
  margin-top: 4em;
  transform: rotate(90deg);
  animation: arrow_animate 1s infinite;
}
.social__container {
  height: 3em;
}
.social__wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
.social__icon:not(:first-child) {
  margin-left: 0.8em;
}
@keyframes arrow_animate {
  0% {
    transform: translateY(0em) rotate(90deg);
  }

  50% {
    transform: translateY(-1em) rotate(90deg);
  }

  100% {
    transform: translateY(0em) rotate(90deg);
  }
}

@media only screen and (min-width: 65em) {
  .main__wrap {
    width: 90%;
    display: flex;
    justify-content: center;
  }
  .main__content {
    height: 45em;
  }
}
